@tailwind base;
@tailwind components;
@tailwind utilities;

.home{
  background: url('/sch.jpg');
  background-position: center;
  background-size: cover;
}

input, select{
  @apply p-5 px-7 rounded-md border border-gray-500 mb-3 w-full;
}

input:focus{
  @apply outline-none
}

label{
  @apply text-xl pb-3 pl-2;
}

.teach{
  background: url('/online.svg');
  background-position: top;
  background-size: 100%;
}

.error{
  @apply pt-1 pl-2 text-sm text-red-700;
}